html{
	
	 background: url('../photos/errorPicture.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#errorTitle{
	margin-top: 10%;
	text-align:center;
	color:peru;
	font-family:Georgia;
}