#outerContainer{
	display: flex;
	flex-direction: column;
	text-align: center;
	
}

/*
Get Started Div
*/
#searchDiv{
	height: 400px;
	width: 100%;
	background-image: url('../photos/recipePic2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.header{
	margin-top:100px;
	color:white;
	font-family: Georgia,
}

.getStarted{
	
	text-align: center;
}

#getStartedButton{
	background-color:green;
	color:white;
	height:auto;
	width: auto;
	cursor: pointer;
	font-size: 17px;
}

/*
Steps Div
*/

#stepsDiv{
	display: flex;
	flex-direction: row;
	
	height: 300px;
	width:100%;
	color: sienna;
	font-family: Georgia;
	text-align: center;
}

.steps{
	margin: 100px;
	
}

/*
Recipe Div
*/

#recipeDiv{
	height:400px;
	width: 100%;
	background-color:saddlebrown;
	margin-top: 100px;
	color: white;
	font-family: Georgia;
}

#recipeHeader{
	margin-top: 100px;
}

#recipeForm{
	margin-top: 100px;
}

#recipeTextBox{
	height:23px;
	width:auto;
}

#recipeSearch{
	background-color:green;
	color:white;
	height:auto;
	width: auto;
	font-size:17px;
}

/*
Ingredients Page
*/

.searchBar{
	text-align: center;
	border-bottom: 1px solid lightgray;
	height:50px;
	width:auto;
}

.searchForm{
	height:50px;
	width: auto;
}

.searchBar button{
	
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.ingredientSearchBox{
	padding: 6px;
  border: solid .5px lightgray;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 16px;
  font-family: arial;
  width: 30%;
  border-radius: 15px;
  outline:none;
}

/*
Api results
*/
#searchResults{
	display: flex;
	flex-direction: column;
}



.foodResults{
	font-family: Georgia;
}


.foodFlexContainer{
	display: flex;
	flex-direction: row;
}

.foodFlexContainer:hover{
	background-color:lightgray;
}

#foodContext{
	float:right;
}

.foodData{
	float:left;
	width:auto;
	margin-left: 10px;
}

.ingredientRecipe{
	width:100%;
	cursor: pointer;
}

.foodData:hover{
	color: gray;
	border-bottom: 1px solid black;
}

@media only screen and (max-width: 900px) {
  
  #stepsDiv{
  display:flex;
  flex-direction:column;
  }
  
  .steps{
  margin: 25px;
  }
  
  #recipeDiv{
  margin-top: 500px;
  }
  
}

